body{
  font-size: 16px;
  font-family: Verdana, sans-serif;
  background:#FDF5E6;
}

.container{
  width:300px; 
  margin: auto;

}

#app h1{
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
  /* background: #e0edff; */

}

.title{
  margin-left:5px;
}

#app li{
  line-height: 1.5;
}

#app input[type="text"]{
  padding: 2px;
}

.command{
  font-size:12px;
  cursor: pointer;
  color:#08c;
}

#app ul{
  padding:0;
  list-style: none;
}

#app li > span.done{
  text-decoration: line-through;
  color: #bbb;
  
}

.info{
  color: #999;
  font-size:12px;
  font-weight: normal;
}

#app h1 > button {
  float: right;
}

.inputtext{
  background-color:#F8F8FF;
}

.btn-square-little-rich {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #03A9F4;/*色*/
  border: solid 1px #0f9ada;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  margin-right:5px;
}

.btn-square-little-rich:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}
